body {
    background-color: #cfd5e6;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    padding: 20vh 20vw;
    font-size: 16px;
    line-height: 1.5;
}

.title-div {
    padding-top: 5vh;
    text-align: center;
}

/* Bar Chart */

#bar-chart .label {
    text-anchor: middle;
}

.tooltip.hidden {
    display: none;
}

.tooltip p {
    margin: 0;
}

/* Timeline */

#information {
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#information > h3 {
    font-size: 24px;
    font-weight: bold;
}

#information > p {
    font-size: 16px;
}

g text.text-timeline {
    opacity: 0;
}

g:hover text {
    opacity: 1;
}

.circle-timeline:hover {
    fill: gray;
}

/* map */

#map-dropdown {
    /* padding-top: 100px; */
    padding-left: 1000px;
}

.container {
    height: 100%;
    max-width: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    position: relative;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    left: 50%;
}

.container div {
    height: 100%;
    display: block;
    margin: 400px 45px;
}

.container div:first-child {
    padding-top: 20vh;
}

.fixed {
    position: fixed;
    max-width: 820px;
    height: 500px;
    top: 50px;
    /* z-index: 1; */
}

#timeline, #information {
    z-index: 1;
}

#timeline {
    padding-left: 50px;
}

.scrollyText {
    text-align: justify;
}

#map-div, #bar-chart-div {
    z-index: 10;
    position: relative !important;
}

#tooltip-bars, #tooltip-map {
    z-index: 11;
}